<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each results}}
            <h1>Welcome <strong><em>{{names}}</em></strong></h1>
            <form action="/waiters/{{username}}" method="POST">
                {{/each}}
                <input type="checkbox" name="Monday" id="Monday" value="Monday">Monday
                <input type="checkbox" name="Tuesday" id="Tuesday" value="Tuesday">Tuesday
                <input type="checkbox" name="Wednesday" id="Wednesday" value="Wednesday">Wednesday
                <input type="checkbox" name="Thursday" id="Thursday" value="Thursday">Thursday
                <input type="checkbox" name="Friday" id="Friday" value="Friday">Friday
                <input type="checkbox" name="Saturday" id="Saturday" value="Saturday">Saturday
                <input type="checkbox" name="Sunday" id="Sunday" value="Sunday">Sunday
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit Days</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col-12">
            {{#each workDays}}
            <h2 class="btn btn-warning"><strong>I'm available to work on:</strong></h2>
            <ul style="list-style-type: none;">
                <li>{{monday}}</li>
                <li>{{tuesday}}</li>
                <li>{{wednesday}}</li>
                <li>{{thursday}}</li>
                <li>{{friday}}</li>
                <li>{{saturday}}</li>
                <li>{{sunday}}</li>
            </ul>
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col-12">
            <form action="/home" method="GET">
                <button type="submit" class="btn btn-primary"><em>Home</em></button>
            </form>
        </div>
    </div>
</div>