<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each results}}
            <h1>Welcome <strong><em>{{names}}</em></strong></h1>
            <form action="/waiters/{{username}}" method="POST">
                {{/each}}

                {{#each Aweek}}
                <input type="checkbox" name="{{day}}" id="{{day}}" value="{{day}}" {{checked}}>{{day}}
                {{/each}}
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit Days</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col-12">
            <h2 class="btn btn-warning" style="font-size: 20px;"><strong>I'm available to work on:</strong></h2>
            <br>
            <br>
            {{#each workDays}}
            <ul style="list-style-type: none;">
                <li style="font-size: 20px;"><strong>{{daychecked}}</strong></li>
            </ul>
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col-12">
            <form action="/home" method="GET">
                <button type="submit" class="btn btn-primary"><em>Home</em></button>
            </form>
        </div>
    </div>
</div>